{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/contraseña.css' %}">
<div class="container">


    <form method="post">
        {% csrf_token %}

        <div class="d-flex justify-content-center align-items-center my-5">
            <h2 class="subtitulo text-center">Cambiar contraseña</h2> 
        </div>
        <div class="cambiar-contraseña text-center">
            <input   class=" py-2 px-4 " type="password" name="password" placeholder="Contraseña">
        </div>

        <br>

        <div class="cambiar-contraseña text-center">
            <input   class=" py-2 px-4 " type="password" name="password" placeholder="Repetir Contraseña">
        </div>

        <div class="text-center my-5">
            <input  class="py-2 px-5 btn-cambiar"type="submit" value="Cambiar contraseña"> 
        </div>
    </form>

</div>
{% endblock %}