{% extends 'administrador/base.html'%}

{% load static %}


{% block content %}

<div class="container  home">
  <div class="padding">
      <h2 class="texto-logo espaciado mt-5">FUNDACIÓN DONA TU TIEMPO</h2>
      <h3 class="text-center py-3 rojo">#CORAZÓNDESERVICIO</h3>
      <p class="size-font gris"> Somos una Fundación de iniciativa ciudadana conformado
          por profesionales voluntarios que donan 
         su tiempo para servir a la comunidad.</p>  
      <div class="text-center py-5">
      <p class="text-center size-font gris">Escribenos:</p>
      <p class="size-font gris "> <img src="{% static 'img/iconos/mensaje.png'%}">
          info@donatutiempo.org</p>
      <p class="size-font gris pt-5 ">Siguenos en:</p>
      <p class="d-flex justify-content-center">
          <img src="{% static 'img/iconos/facebook.png'%}">
          <img src="{% static 'img/iconos/instagram.png'%}">
          <img src="{% static 'img/iconos/tiktok.png'%}">
      </p> 
      <p>donatutiempo.ong</p>
      </div>   
  </div>
<div>


{% endblock %}